* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

a {
    color: #00796b;
    text-decoration: none;
    cursor: pointer;
}

.notion-collection-row-body {
    display: none!important;
}