body, html {
    margin: 0;
}

a {
    text-decoration: none;
    color: #00796b!important;
    overflow-wrap: break-word;
}

img {
    width: 100%;
}

#mydlg > div > div{
    position:fixed;
    margin: 0 auto;
    top:100px;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
}

@media screen and (min-width: 600px) {
    #disqus_thread {
        background: #f0f3f5;
        margin: -24px;
        margin-top: 1em;
        margin-bottom: -16px;
        border-radius: 5px;
        padding: 1em;
    }
    #mydlg {
        width: 500px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    #disqus_thread {
        background: #f0f3f5;
        margin: -16px;
        margin-top: 1em;
        border-radius: 5px;
        padding: 1em;
    }
    #mydlg {
        width: 360px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px) {
    #disqus_thread {
        background: #f0f3f5;
        margin: -16px;
        margin-top: 1em;
        border-radius: 5px;
        padding: 1em;
    }
}

/* override markdown css*/

blockquote {
    border-left: 5px solid #652828;
    margin: 0;
    padding-left: 1em;
    font-size: 1.2em;
    font-weight: 500;
}

#c1>div {
    margin-left: -50px;
}

.animate {
    padding-left: 20px;
    font-size: 18px;
    display: inline-block;
    white-space: nowrap;
    animation: 15s wordsLoop linear infinite normal;
}

@keyframes wordsLoop {
    0% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}

[data-block-id] {
    max-width: 100%!important;
}


/* moments */

.pswp-thumbnails{
    display: flex;
    max-width: 400px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.pswp-thumbnail{
    padding: 2px;
    max-width: 200px;
    min-width: 100px;
    height: 100px;
    overflow: hidden;
    /* background: #000000 */
}


/* react-images z-index fix */
.fullscreen > div{
    z-index: 1200!important;
}