
body {
    margin: 0;
}
a {
    text-decoration: none;
    color: #009688;
    overflow-wrap: break-word;
}

img {
    width: 100%;
}

#disqus_thread{
    background: #f0f3f5;
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -16px;
    border-radius: 5px;
    padding: 1em;
}

/* override markdown css*/

blockquote {
    border-left: 5px solid #652828;
    margin: 0;
    padding-left: 1em;
    font-size: 1.2em;
    font-weight: 500;
}

#c1 > div {
    margin-left: -50px;
}

.animate {
    padding-left: 20px;
    font-size: 18px;
    display: inline-block;
    white-space: nowrap;
    animation: 15s wordsLoop linear infinite normal;
}

@keyframes wordsLoop {
    0% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
    }
    100% {
        transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
    }
}
